:root {
  --background-light: #fdf9ff;
  --background-dark: #f2f2fc;
  --heading: #302e4f;
  --text: #504e70;
  --border-dark: #d4d4e3;
  --border-light: #e8dfec;
  --skin-color: #ec1839;
  --skin-color--1: #ec1839;
  --skin-color--2: #2196f3;
  --skin-color--3: #fa5b0f;
  --skin-color--4: #ffb400;
  --skin-color--5: #72b626;
}

.darkmode {
  --background-light: #222;
  --background-dark: #151515;
  --heading: #fff;
  --text: #e9e9e9;
  --border-dark: #393939;
  --border-light: #393939;
}

.pink-mood {
  --skin-color: #ec1839;
}

.blue-mood {
  --skin-color: #2196f3;
}

.orange-mood {
  --skin-color: #fa5b0f;
}

.yellow-mood {
  --skin-color: #ffb400;
}

.green-mood {
  --skin-color: #72b626;
}

@-webkit-keyframes blink {
  50% {
    border-right: transparent;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

::-moz-selection {
  background-color: var(--skin-color);
  color: #fff;
}

::selection {
  background-color: var(--skin-color);
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text);
  line-height: 1.6;
  text-align: justify;
}

.heading-2 {
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
}

.heading-3 {
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  position: relative;
  text-align: left;
}

.heading-3::before,
.heading-3::after {
  content: "";
  display: inline-block;
  background-color: var(--skin-color);
  height: 0.5rem;
  position: absolute;
}

.heading-3::before {
  bottom: 0;
  width: 5rem;
}

.heading-3::after {
  bottom: -1rem;
  width: 2rem;
  left: 0;
}

.heading-4 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-align: left;
}

.heading-4 span {
  color: var(--skin-color);
}

.heading-5 {
  font-size: 1.65rem;
  text-align: left;
}

.typing {
  border-right: 0.2rem solid var(--skin-color);
  padding-right: 0.5rem;
  -webkit-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
}

.u-mb-sm {
  margin-bottom: 1.5rem;
}

.u-mb-md {
  margin-bottom: 4rem;
}

.u-mb-lg {
  margin-bottom: 6rem;
}

.u-mb-hg {
  margin-bottom: 8rem;
}

.u-mt-md {
  margin-top: 4rem;
}

.contact {
  padding: 6rem 4rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 31.25em) {
  .contact {
    padding: 6rem 2rem;
  }
}

.contact-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 50em) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 50rem;
    min-width: 30rem;
    margin: 0 auto;
  }
}

.contact-box {
  max-width: 50rem;
  width: 47rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--background-light);
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-light);
}

@media only screen and (max-width: 50em) {
  .contact-box {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.contact-box > *:not(:last-child) {
  margin-bottom: 2rem;
}

.contact-box:not(:last-of-type) {
  margin-right: 2rem;
}

@media only screen and (max-width: 50em) {
  .contact-box:not(:last-of-type) {
    margin-right: 0rem;
  }
}

.contact-box__icon {
  width: 4rem;
  height: 4rem;
  fill: var(--skin-color);
}

.contact-box__link {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-box__link:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.contact-box__description {
  font-weight: 400;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-form__input {
  -webkit-flex-basis: 47%;
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
  margin: 1rem;
  font-family: inherit;
  font-size: 1.7rem;
  padding: 2rem;
  border: 0.1rem solid var(--border-light);
  border-radius: 10rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 50em) {
  .contact-form__input--name,
  .contact-form__input--email {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.contact-form__input--message {
  border-radius: 3rem;
  padding-bottom: 8rem;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.contact-form__input--subject {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.contact-form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.contact-form__btn {
  padding: 1rem 1.5rem;
  margin: 2rem 1.3rem;
}

.home {
  padding: 6rem;
  text-align: center;
}

.home__img {
  width: 90%;
  border-radius: 50%;
  border: 0.5rem solid var(--background-light);
}

.home__description {
  font-size: 1.7rem;
  font-weight: 500;
}

.home__social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home__social-link {
  text-decoration: none;
}

.home__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--background-light);
  background-color: var(--skin-color);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.home__icon:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.fab {
  color: var(--background-light);
  font-size: 1.5rem;
  margin-top: -0.2rem;
}

.projects {
  padding: 6rem 4rem;
}

.card {
  max-width: 40rem;
  background-color: var(--background-light);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid var(--border-light);
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  align-self: start;
  text-align: center;
  font-size: 1.6rem;
}

.card__img {
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card__img:hover {
  -webkit-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
}

.card__heading {
  padding: 1rem 4rem;
  font-size: 2.5rem;
}

.card__text {
  padding: 1rem 4rem;
  padding-bottom: 4rem;
}

.deeds {
  padding: 6rem 4rem;
}

.deeds-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 43.75em) {
  .deeds-container {
    grid-template-columns: minmax(30rem, 50rem);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.deed {
  background-color: var(--background-light);
  padding: 4rem 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-light);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem -webkit-min-content;
  grid-template-rows: 5rem min-content;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.deed > *:not(:last-child) {
  margin-bottom: 2rem;
}

.deed__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: var(--skin-color);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.deed__icon:hover {
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--skin-color);
  fill: var(--background-light);
  border-radius: 30%;
  padding: 0.75rem;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.deed__name {
  font-size: 2rem;
  text-align: center;
}

.deed__description {
  font-weight: 400;
  font-size: 1.6rem;
}

.info {
  padding: 6rem 4rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 31.25em) {
  .info {
    padding: 6rem 2rem;
  }
}

.info__text {
  font-weight: 400;
  text-align: justify;
}

.info__details {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-gap: 2rem;
}

@media only screen and (max-width: 68.75em) {
  .info__details {
    grid-template-columns: 1.15fr 0.85fr;
  }
}

@media only screen and (max-width: 56.25em) {
  .info__details {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
}

.info__list {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  position: relative;
  top: -5.5rem;
}

@media only screen and (max-width: 62.5em) {
  .info__list {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
  }
}

@media only screen and (max-width: 31.25em) {
  .info__list {
    grid-template-columns: 1fr;
  }
}

.info__item {
  margin: 1.5rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--border-light);
}

@media only screen and (max-width: 31.25em) {
  .info__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.info__item span {
  font-weight: 700;
  margin-right: 0.5rem;
}

.info__form {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  /*

        display: flex;
        flex-direction: column;
        align-items: start;

        &>* {
            margin-bottom: 1.5rem;
        }

*/
}

@media only screen and (max-width: 62.5em) {
  .info__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .info__form > * {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 62.5em) and (max-width: 56.25em) {
  .info__form > * {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 62.5em) and (max-width: 43.75em) {
  .info__form > * {
    margin: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .info__form {
    grid-row: 3/4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 31.25em) {
  .info__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.info__form > *:not(:first-child) {
  margin: 0 2rem;
}

@media only screen and (max-width: 62.5em) {
  .info__form > *:not(:first-child) {
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .info__form > *:not(:first-child) {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .info__form > *:not(:first-child) {
    margin: 0.5rem 0;
  }
}

.info__skills-box {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .info__skills-box {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.info__skill-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info__skill-bar {
  height: 0.8rem;
  width: 100%;
  background-color: var(--border-light);
  border-radius: 10rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.info__skill-bar::after {
  content: "";
  display: inline-block;
  height: 100%;
  background-color: var(--skin-color);
  border-radius: 10rem;
  position: absolute;
  left: 0;
}

.info__skill-bar--1::after {
  width: 90%;
}

.info__skill-bar--2::after {
  width: 80%;
}

.info__skill-bar--3::after {
  width: 70%;
}

.info__skill-bar--4::after {
  width: 70%;
}

.info__skill-bar--5::after {
  width: 60%;
}

.info__skill-bar--6::after {
  width: 60%;
}

.info__skill-bar--7::after {
  width: 50%;
}

.info-box {
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
}

.info-box__details {
  background-color: var(--background-light);
  padding: 4rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.info-box__details--1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 43.75em) {
  .info-box__details--1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.info-box__box {
  padding: 0rem 4rem 4rem 4rem;
  padding-top: 0;
  margin: 0.5rem;
  border-left: 0.2rem solid var(--skin-color);
  position: relative;
}

.info-box__box--1 {
  padding: 4rem;
}

.info-box__box::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--skin-color);
  position: absolute;
  top: 0;
  left: -1rem;
}

.info-box__img {
  width: 55%;
}

@media only screen and (max-width: 43.75em) {
  .info-box__img {
    width: 70%;
  }
}

.info-box__duration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-box__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: var(--text);
}

.info-box__text {
  font-size: 14px;
  font-weight: 400;
}

.info-box__link:link,
.info-box__link:visited {
  color: var(--skin-color);
  text-decoration: none;
  font-weight: 500;
}

.sidebar {
  background-color: var(--background-light);
  padding: 4.5rem 2rem;
  border-right: 0.1rem solid var(--border-light);
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
}

@media only screen and (max-width: 75em) {
  .sidebar {
    -webkit-transform: translateX(-30rem);
    -ms-transform: translateX(-30rem);
    transform: translateX(-30rem);
  }
}

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--border-light);
}

.hidden-item {
  display: none;
}

.sidebar__link,
.sidebar__link:link,
.sidebar__link:visited {
  text-decoration: none;
  color: var(--text);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar__link:hover {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  color: var(--skin-color);
}

.sidebar__link:hover svg {
  fill: var(--skin-color);
}

.sidebar__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--text);
  margin-right: 1rem;
}

.dorn {
  position: fixed;
  right: 2rem;
  top: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: var(--background-light);
  color: var(--skin-color);
  padding: 2rem;
  border-radius: 0rem 5rem;
  z-index: 300;
  cursor: pointer;
  -webkit-transform: translateX(17.5rem);
  -ms-transform: translateX(17.5rem);
  transform: translateX(17.5rem);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.dorn__icon {
  font-size: 3rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.dorn__icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.dorn:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mood {
  position: fixed;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-light);
  padding: 2rem;
  border-radius: 5rem 0;
  z-index: 99;
  -webkit-transform: translateX(22rem);
  -ms-transform: translateX(22rem);
  transform: translateX(22rem);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mood:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mood__icon {
  color: var(--skin-color);
  font-size: 3rem;
  margin-right: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.mood__icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.mood__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mood__moods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.mood__mood {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.mood__mood--1 {
  background-color: var(--skin-color--5);
}

.mood__mood--2 {
  background-color: var(--skin-color--1);
}

.mood__mood--3 {
  background-color: var(--skin-color--2);
}

.mood__mood--4 {
  background-color: var(--skin-color--3);
}

.mood__mood--5 {
  background-color: var(--skin-color--4);
}

.logo {
  font-weight: 700;
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 1.1;
  padding: 1rem;
  position: relative;
}

.logo::before,
.logo::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.logo::before {
  top: 0;
  left: 0;
  border-top: 0.4rem solid var(--skin-color);
  border-left: 0.4rem solid var(--skin-color);
}

.logo::after {
  bottom: 0;
  right: 0;
  border-bottom: 0.4rem solid var(--skin-color);
  border-right: 0.4rem solid var(--skin-color);
}

.logo--centered span {
  display: block;
  -webkit-transform: translateX(0.7rem);
  -ms-transform: translateX(0.7rem);
  transform: translateX(0.7rem);
}

.copyrights {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  color: #fff;
  background-color: var(--skin-color);
  padding: 1rem 2.5rem;
  font-size: 1.75rem;
  text-decoration: none;
  border-radius: 10rem;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.preloader__background {
  background-color: var(--background-light);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 30rem 1fr;
}

.sidebar {
  height: 100vh;
  grid-column: 1/2;
  grid-row: 1/2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.main-container {
  height: 100vh;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--background-dark);
  display: grid;
  grid-template-columns: calc(100vw - 30rem);
  overflow: hidden;
}

.main-container > * {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  grid-row: 1/2;
  grid-column: 1/2;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.main-container > *:target {
  position: relative;
  background-color: var(--background-dark);
  z-index: 20;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.main-container .active {
  position: relative;
  background-color: var(--background-dark);
  z-index: 20;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (max-width: 75em) {
  .main-container {
    grid-column: 1/3;
    grid-template-columns: 1fr;
  }
}

/*
.sidebar--opened {
    grid-column: 1/2;
}


.main-container--Sopened {
    grid-template-columns: calc(100vw - 30rem);
    grid-column: 2/3;
}

.main-container--Sclosed {
    grid-template-columns: 1fr;
    grid-column: 1/3;

}

    &:target {
        position: relative;
        background-color: var(--background-dark);

        z-index: 20;
        transform: translateX(0);

    }
*/
.home {
  display: grid;
  grid-template-columns: 1fr minmax(-webkit-min-content, 30rem) 1fr;
  grid-template-columns: 1fr minmax(min-content, 30rem) 1fr;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
}

.home-container {
  grid-column: 2/3;
}

.main-container--sopened {
  grid-column: 2/3;
}

.sidebar--opened {
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
}

.info__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .info__grid {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
}

.nav__checkbox {
  display: none;
}

.nav__button,
.nav .nav__button--sclosed {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  z-index: 30;
  width: 4.5rem;
  height: 4rem;
  background-color: var(--background-light);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-light);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (min-width: 75em) {
  .nav__button,
  .nav .nav__button--sclosed {
    display: none;
  }
}

.nav__button span,
.nav .nav__button--sclosed span {
  width: 2rem;
  height: 0.15rem;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}

.nav__button span::before,
.nav__button span::after,
.nav .nav__button--sclosed span::before,
.nav .nav__button--sclosed span::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--skin-color);
}

.nav__button span::before,
.nav .nav__button--sclosed span::before {
  position: absolute;
  top: -0.7rem;
}

.nav__button span::after,
.nav .nav__button--sclosed span::after {
  position: absolute;
  top: 0.7rem;
}

/*
@media only screen and (max-width:$bp-largest) {

    .nav__checkbox:checked~.sidebar {
        transform: translateX(0rem);

    }


    .nav__checkbox:checked~.main-container {
        grid-column: 2/3;
    }

    .nav__checkbox:checked+.nav__button,
    .nav__button--sopened {
        left: 24rem;

        span {

            background-color: transparent;

            &::before,
            &::after {
                top: 0;
            }

            &::before {
                transform: rotate(135deg);
            }

            &::after {
                transform: rotate(-135deg);
            }
        }

    }
}
*/
.nav__button--sopened {
  left: 24rem;
}

.nav__button--sopened span {
  background-color: transparent;
}

.nav__button--sopened span::before,
.nav__button--sopened span::after {
  top: 0;
}

.nav__button--sopened span::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav__button--sopened span::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.margin {
  margin-top: 2rem;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 13px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.info-skill-des{
  /* color: #2196f3; */
  /* padding-bottom: 1rem!important; */
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

